
h1{

    text-align: center;
}

h2{
        text-align: center;

}

p{
    text-align: center;

}
nav li {text-transform: lowercase;
        color: black;
        font-weight: bold;
        font-size: 22px;
        text-decoration: none;
        display: inline-block;
        
}
nav a {


    display: inline;
    margin: 0 0 0 15px;

}
ul{

    text-align: center;
}